.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #loadUsers {
    padding: 10px;
  }
  #users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1000px;

    .user-card {
      background: #cacaca;
      border-radius: 10px;
      padding: 10px;
    }
  }
}